.pageWrapper .wrapper {
	top: -100px;
}

.buttonAvatar {
	padding: 0px !important;

	&:hover {
		background-color: transparent !important;
	}
	&:active {
		box-shadow: none !important;
	}
}

.header__avatar {
	display: flex;
	grid-column-start: span 2;
	margin-top: -88px;
}
.headerAvatar {
	--size: 112px;
	--border-width: 4px;
	position: relative;
	z-index: 1;
	flex-shrink: 0;

	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100px;
		bottom: -10px;
	}
}

.headerAvatar__media {
	position: relative;
	border-radius: 6px;
	width: var(--size);
	height: var(--size);
	background-color: #dedede;
	overflow: hidden;
	-webkit-box-shadow: 0 0 0 var(--border-width) #fff,
		inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 var(--border-width) #fff, inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		width: var(--size);
		height: var(--size);
		border-radius: inherit;
		-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.headerAvatarManage {
	position: absolute;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0.1s;
	transition: opacity 0.2s 0.1s;
	pointer-events: none;
}

.headerAvatar:hover .headerAvatarManage {
	visibility: visible;
	opacity: 1;
}

.menuMain {
	z-index: 1;
	left: 18px !important;
}

.menuForm {
	border-radius: 8px !important;
	ul {
		padding-top: 2px;
		padding-bottom: 4px;
	}
}

.avatar_menu__item {
	padding: 2px 4px;

	li:hover {
		border-radius: 8px !important;
	}
	svg {
		margin-right: 12px;
		font-size: 1.05rem;
	}
}

.header__description,
.header__cover,
.header__title,
.header__stats,
.header__actions {
	min-width: 0;
	grid-column-start: span 2;
}

.headerCover.isEditing {
	cursor: grab;
	background-position-y: unset;
}

.isEditing {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: move;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-ms-touch-action: none;
	touch-action: none;
}

.headerCover {
	--border-radius: 8px;
	--island-offset-x: 20px;
	--offset-x: var(--island-offset-x, 20px);
	--offset-y: 24px;
	background-position: 50% 40%;
	height: 280px;
	background-color: #dedede;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: calc(var(--offset-y) * -1);
	margin-left: calc(var(--offset-x) * -1);
	margin-right: calc(var(--offset-x) * -1);
	position: relative;
}

.headerCoverManage {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translate3d(0, 2px, 0);
	transform: translate3d(0, 2px, 0);
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.headerCoverManage__item {
	position: relative;
}

.headerCoverManage__item:not(:last-child) {
	margin-right: 8px;
}

.headerCover:hover .headerCoverManage {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.header__title {
	margin-top: 8px;
	grid-column: 1;
	font-size: 32px;
	line-height: 1.46em;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}

.headerTitle {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}

.headerTitle_main {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	min-width: 0;
	width: 100%;
}

.header__title + .header__description {
	margin-top: 4px;
}
.headerDescription {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	lines-limit: 2;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.headerDescription__edit {
	margin-top: 8px;
}

.linkInline {
	color: #3766a9 !important;
	cursor: pointer;

	&:hover {
		color: #cd192e !important;
		text-decoration: none !important;
	}
}

.header__actions {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-top: -4px;
	grid-row: 1;
	grid-column: 2;
	align-self: start;
}
.header__cover ~ .header__actions {
	grid-row: 3;
	grid-column: 2;
}

.headerActions {
}

.headerWithActions {
	display: grid;
	grid-template-columns: 1fr auto;
}

.button {
	--offset: 8px;
	--min-width: 44px;
	--height: 35px;
	--font-size: 15px;
	--icon-size: 24px;
	--border-radius: 8px;
	position: relative;
	outline: 0;
	margin: 0;
	border: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #fff;
	color: #000;
	font-size: var(--font-size);
	font-weight: 500;
	height: var(--height);
	border-radius: var(--border-radius);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	padding: 8px;

	&:active {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
}

.buttonBlue {
	background-color: #4683d9 !important;
	color: #fff !important;
	margin-left: 8px;
	-webkit-box-shadow: 0 1px 2px rgba(70, 131, 217, 0.48),
		inset 0 -1px 0 rgba(53, 9, 9, 0.12);
	box-shadow: 0 1px 2px rgba(70, 131, 217, 0.48),
		inset 0 -1px 0 rgba(0, 0, 0, 0.12);

	&:hover {
		background-color: #437cce !important;
	}
	&:active {
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
	}
}

.buttonDefault {
	color: #000 !important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08),
		inset 0 0 0 1px rgba(0, 0, 0, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.12),
		inset 1px 0 0 rgba(0, 0, 0, 0.06), inset -1px 0 0 rgba(0, 0, 0, 0.06);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(0, 0, 0, 0.06),
		inset 0 -1px 0 rgba(0, 0, 0, 0.12), inset 1px 0 0 rgba(0, 0, 0, 0.06),
		inset -1px 0 0 rgba(0, 0, 0, 0.06);
}

.button__icon {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.button__icon:not(:only-child) {
	margin-left: calc(var(--offset) * 1);
	margin-right: calc(var(--offset) * -0.25);
}

.svgMessage {
	width: 30px !important;
	height: 21px !important;
}
.button__icon {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.button__lable {
	padding: 0 var(--offset);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header__description ~ .header__stats {
	margin-top: 20px;
}

.header__stats {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: start;
	align-items: flex-start;
	font-size: 15px;
}

.header__stat {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.header__stat:not(:last-child) {
	margin-bottom: 8px;
}

.headerStat {
}

.numberChange {
	color: #2ea83a;
	font-weight: 500;
	font-size: 16px;
}

.headerStat:not(:last-child) {
	margin-right: 16px;
}
