.title {
  font-weight: 500 !important;
  font-size: 22px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.content {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  padding-left: 20px;
  padding-right: 20px;

  a {
    color: #3766a9;
    border-bottom: 1px solid #bed0ea;
    cursor: pointer;
  }
}

.userInfoContent {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
  padding-top: 16px;
  margin-bottom: 10px;
  height: 40px;
}

.userInfoContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfoControl {
  margin-left: auto;
}

.userInfo {
  display: flex;
  align-items: center;

  b {
    font-weight: 500;
    font-size: 15px;
    margin-left: 30px;
  }

  span {
    font-size: 12px;
    opacity: 0.8;
    margin-left: 10px;
  }
}

.userAvatar {
  width: 22px !important;
  height: 22px !important;
  border-radius: 30px !important;
  border-radius: 6px !important;
  margin-right: 8px !important;
  overflow: hidden !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  image-rendering: -webkit-optimize-contrast !important;
  position: absolute !important;
}

.itemControls {
  display: flex;
}

.imagePost {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.postContent {
  max-width: 860px;
}
