.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.content {
  margin-top: 10px !important;
  margin-bottom: 15px !important;

  a {
    color: #3766a9;
    border-bottom: 1px solid #bed0ea;
    cursor: pointer;
  }
}
