.root {
  width: 265px;
  margin-bottom: 2px;
  position: sticky;
  top: 90px;
  margin-left: 40px;

  h3 {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: 600;

    svg {
      width: 22px;
      height: 22px;
      margin-left: 8px;
    }
  }
}

.rotated {
  width: 70px;
  transform: rotate(-90deg) translate(-50px);
  transform-origin: top right;
  right: 60px;
  top: 105px;

  svg {
    transform: rotate(270deg);
  }
}

.commentContent {
  position: fixed;
  top: 140px;
  height: calc(100vh - 140px); // Subtract the height of the header from the viewport height
  overflow-y: auto;
  z-index: 9999;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.commentContent::-webkit-scrollbar {
  display: none; /* Скрыть полоску прокрутки для Chrome, Safari и Opera */
}

.commentBlock {
  width: 260px;
}

.commentItem {
  margin-bottom: 25px;
}

.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 24px !important;
    height: 24px !important;
    border-radius: 6px;
    margin-right: 8px;
  }
  b {
    margin-left: 30px;
  }
}

.text {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.postTitle {
  font-size: 15px;
  font-weight: 500;
}

.userAvatar {
  width: 22px !important;
  height: 22px !important;
  border-radius: 30px !important;
  border-radius: 6px !important;
  margin-right: 8px !important;
  overflow: hidden !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  image-rendering: -webkit-optimize-contrast !important;
  position: absolute !important;
}
