.menu {
    position: fixed;
    width: 200px;
    left: 15px;
    top: 70px;

ul {
    list-style: none;
    padding: 0;
    margin: 0;

li {
    margin-bottom: 2px;
   
svg {
        margin-right: 10px;
botton {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
    }
      }
    } 
}
}
